<a href="https://colab.research.google.com/github/minwoo111111/AI-Python/blob/main/240510.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#판다스 설치
pip install pandas

#판다스 기본설정
import pandas as pd

SyntaxError: invalid syntax (<ipython-input-4-4b5b4c235ff5>, line 2)

In [ ]:
import pandas as pd

#Dataframe 메소드: 데이터프레임을 생성해줌. 보통은 csv 불러와서 하지만... 이런방법도 있다
data = [[1, 'Alice'], [2, 'Bob'], [3, 'Charlie']]  #이렇게 2차원 리스트 생성
                                                   ##근데.... 이거는 컬럼명이없으므로

df=pd.DataFrame(data, columns=['ID', 'Name'])      #2차원 리스트를 데이터프레임으로 만들기
                                                   ##columns=['ID', 'Name']으로 컬럼을 만들어줄 수 있음.
print(df)

df_1=pd.DataFrame(data)
print(df_1)     #columns=[]로 컬럼명 지정 안 해주면 그냥 0,1,2,.......로 자동으로 붙음.



#파이썬 딕셔너리를 데이터프레임으로 생성하기
df=pd.DataFrame({'name':['kim','lee','park'],
                 'age':[27,33,19],
                 'score':[92,98,87]})   #이렇게 하면 딕셔너리의 키를 칼럼명으로, 값을 칼럼값으로 가져와서 데이터프레임 생성 가능
df

In [ ]:
#CSV파일을 읽어서 데이터프레임 생성-  read_csv('csv파일명', encoding='인코딩 타입') 이렇게 csv파일을 읽어서 파일 데이터의 첫번째 줄을 칼럼명으로 갖는 데이터프레임 생성
#이 방법을 많이 쓰게 될 거임
#코랩에 데이터파일을 업로드해놔야 쓸 수 있음.

df2=pd.read_csv('data.csv', encoding='UTF-8')  #인코딩타입 굳이 지정 안해줘도 쓸 수 있음.
df2

df3=pd.read_csv('train.csv')
df3

판다스 데이터프레임 만들기 Lab

In [26]:
#1. data.csv파일을 읽어서 데이터프레임을 생성하시오
df4=pd.read_csv('data.csv')

#2. 온라인의 데이터를 로드하라. 데이터는 \t를 기준으로 구분되어 있다.
    #• ‘https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv’

df5=pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv', delimiter='\t')
                                                                                   #웹상에서 \t를 기준으로 구분된 데이터를 불러올 땐... read('*.csv', delimiter='\t')로 delimiter 쓴다!!!
df5
    #이런식으로 온라인의 데이터도 데이터프레임으로 로드할 수 있음!

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [25]:
    #변수에 url을 입력해서 가독성 있게 만들 수도 있음.
url='https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df6=pd.read_csv(url, delimiter='\t')
df6

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [35]:
#xlsx 파일을 읽어서 데이터 프레임 생성: read_excel('xlsx 파일명')
df7=pd.read_excel('data.xlsx')
df7

#이때, 엑셀은 여러 시트로 구성돼있으므로 sheet_name=''으로 시트 지정 가능.
#df7=pd.read_excel('data.xlsx', sheet_name='sheet1')

df8=pd.read_excel('data.xlsx', index_col=0)  #index_col=0이라 하면 원 데이터의 첫번째 컬럼을 index로 쓰고, 0,1,2,3,4,....로 자동컬럼붙이기 안함.
df8

     이름 성별    국어     수학 응시여부 확인여부
반
A반  구이서  남  90.0   89.0   응시   확인
B반  김이정  여  78.0   45.0   응시   확인
A반  오지수  남   NaN    NaN   응시   확인
B반  김선후  남  33.0   44.0   응시  NaN
A반  하진희  여   0.0   85.0   응시  NaN
A반  강현진  남   NaN    NaN  NaN  NaN
B반  김진솔  남  90.0   89.0   응시   확인
B반  박서준  여  78.0   45.0   응시   확인
A반  김성희  남   NaN    NaN  NaN   확인
B반  이지서  여  86.0  100.0   응시   확인

이렇게 데이터 불러들이고 해야할 것: 데이터 확인하는 작업 필요

In [40]:
#head(개수) / tail(개수) : 데이터프레임의 상위/하위 데이터 몇 개만 보기. (개수지정 없으면 5개 출력)
df7.head(3)
df7.tail(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   반       10 non-null     object
 1   이름      10 non-null     object
 2   성별      10 non-null     object
 3   국어      7 non-null      float64
 4   수학      7 non-null      float64
 5   응시여부    8 non-null      object
 6   확인여부    7 non-null      object
dtypes: float64(2), object(5)
memory usage: 688.0+ bytes

In [42]:
#info() : 데이터 프레임의 칼럼들, 칼럼의 데이터 타입, 데이터 개수 등의 기본 정보 출력
df7.info()
 #이걸로 레코드갯수, 컬럼갯수, 결측치 갯수 확인 가능(레코드갯수에서 non-null갯수뺀게 결측치갯수)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   반       10 non-null     object
 1   이름      10 non-null     object
 2   성별      10 non-null     object
 3   국어      7 non-null      float64
 4   수학      7 non-null      float64
 5   응시여부    8 non-null      object
 6   확인여부    7 non-null      object
dtypes: float64(2), object(5)
memory usage: 688.0+ bytes

In [49]:
#데이터프레임의 특정 칼럼의 데이터 보기
column_a1=df7.반
column_a2=df7['반']  #df7.반 이라고 하나 df7['반']이라고 하나 똑같은 거임

column_a3=df7.이름
column_a4=df7['이름']

column_a5=df7[['반','이름']]   #이렇게 여러 컬럼을 불러올 수도 있음.

print(column_a1)
print(column_a2)
print(column_a3)
print(column_a4)
print(column_a5)

0    A반
1    B반
2    A반
3    B반
4    A반
5    A반
6    B반
7    B반
8    A반
9    B반
Name: 반, dtype: object
0    A반
1    B반
2    A반
3    B반
4    A반
5    A반
6    B반
7    B반
8    A반
9    B반
Name: 반, dtype: object
0    구이서
1    김이정
2    오지수
3    김선후
4    하진희
5    강현진
6    김진솔
7    박서준
8    김성희
9    이지서
Name: 이름, dtype: object
0    구이서
1    김이정
2    오지수
3    김선후
4    하진희
5    강현진
6    김진솔
7    박서준
8    김성희
9    이지서
Name: 이름, dtype: object
    반   이름
0  A반  구이서
1  B반  김이정
2  A반  오지수
3  B반  김선후
4  A반  하진희
5  A반  강현진
6  B반  김진솔
7  B반  박서준
8  A반  김성희
9  B반  이지서

In [50]:
#데이터 프레임의 행 범위를 지정해서 데이터 보기 (슬라이싱)
#데이터프레임명[시작행번호:종료행번호] -->시작행번호부터 종료행번호 이전까지의 레코드를 가져옴
#데이터프레임명['칼럼명'][시작행번호:종료행번호] -->지정한 칼럼에서 시작 행 번호부터 종료행번호 이전까지의 데이터를 가져옴

rows1to3=df7[1:4]

column_a_rows_1to3=df7['이름'][1:4]

print(rows1to3)
print(column_a_rows_1to3)

    반   이름 성별    국어    수학 응시여부 확인여부
1  B반  김이정  여  78.0  45.0   응시   확인
2  A반  오지수  남   NaN   NaN   응시   확인
3  B반  김선후  남  33.0  44.0   응시  NaN
1    김이정
2    오지수
3    김선후
Name: 이름, dtype: object

In [52]:
#데이터프레임에서 행과 칼럼을 지정하여 데이터 보기
#데이터프레임명.loc[행레이블, 열레이블]
#데이터프레임명.iloc[행위치,열위치]

data_loc=df7.loc[2,['반']]
data_iloc=df7.iloc[2,3]
print(data_loc)
print(data_iloc)

반    A반
Name: 2, dtype: object
nan

In [62]:
#데이터프레임에 대한 조건 연산 결과 출력하기

#df7에서 국어점수가 80점 이상인 데이터프레임을 만들려면...
condition2=df7['국어']>80
print(condition2)   #이상태에선 True False값으로만 나옴. 연산결과만 나오는 거임.

condition3=df7[df7['국어']>80]  #이렇게 해주면 됨
print(condition3)

#국어가 80점 이상이고 수학이 90점 이상인 사람만
condition4=df7[(df7['국어']>80) & (df7['수학']>90)]
print(condition4)

0     True
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9     True
Name: 국어, dtype: bool
    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  남  86.0  100.0   응시   확인
    반   이름 성별    국어     수학 응시여부 확인여부
9  B반  이지서  남  86.0  100.0   응시   확인

In [64]:
#데이터프레임의 데이터 정렬
#데이터프레임명.sort_values(by=['칼럼명'], ascending=True/False, inplace=True/False)
            #이때 ascending은 오름차순으로 할지 말지 결정하는것. ascending 안 써주면 걍 오름차순으로 정렬됨.
            #inplace는 원본순서를 바꿀지말지를 지정. 기본은 false임. 굳이 안 쓰는 게 좋다.

#국어점수가 높은 사람부터 표현하라
a=df7.sort_values(by=['국어'], ascending=False)    #이렇게하면 됨..
print(a)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  남  86.0  100.0   응시   확인
1  B반  김이정  남  78.0   45.0   응시   확인
7  B반  박서준  남  78.0   45.0   응시   확인
3  B반  김선후  남  33.0   44.0   응시  NaN
4  A반  하진희  남   0.0   85.0   응시  NaN
2  A반  오지수  남   NaN    NaN   응시   확인
5  A반  강현진  남   NaN    NaN  NaN  NaN
8  A반  김성희  남   NaN    NaN  NaN   확인

In [65]:
#데이터프레임의 속성값 정보 보기
#.index -->데이터프레임이 갖는 행번호
#.columns -->데이터프레임이 갖는 칼럼명들
#.size -->데이터프레임에 있는 개별 항목 개수들 (즉, 행의개수*칼럼개수. 총요소의 수)

In [67]:
#데이터프레임의 전체 기본 통계 출력
#데이터프레임명.describe()

#칼럼값별 데이터개수 보기
#데이터프레임명['칼럼이름'].value_counts()
#남자 몇명이고 여자 몇명인지 알아보시오
b=df7['남'].value_counts()
print(b)

KeyError: '남'

In [68]:
#개별칼럼의 통계값 구하기.
#sum(), count(), mean(), std(), max(), min(), median 등 통계함수로 원하는 통계값 계산 가능

#그룹별 통계값 구하기
#데이터프레임명.groupby('칼럼명').통계함수명()    groupby()로 그룹으로 묶을 칼럼을 지정한 뒤 sum(),count(),mean()등 통계함수를이용해 칼럼별로 구분한 통계값 계싼

#데이터프레임의 결측치처리
#데이터프레임에서 결측치확인: 데이터프레임명.isna() --> 칼럼의값이없으면 true, 있으면 false
                              데이터프레임명.isna().sum() --> 각 칼럼별 결측치의 개수 집계
#데이터프레임에서 결측치에 값 채우기: 데이터프레임명.fillna(채울값, inplace=True/False)
                                      데이터프레임명.fillna({'칼럼명':'채울값'}, inplace=True/False) -->칼럼에 있는 결측치를 다른 값으로 채운다.
#데이터프레임에서 결측치가 있는 데이터 삭제: 데이터프레임명.dropna(axis=0/1, subset=['칼럼명'], inplace=True/False)  -->그칼럼에서 결측치가있는 레코드를 날려버림

IndentationError: unexpected indent (<ipython-input-68-69a9141ded28>, line 9)

In [ ]:
#데이터프레임의 칼럼을 이용하여 새 칼럼 추가
#데이터프레임의 '국어'와 '수학' 칼럼값을 더해 '총점'이라는 새로운 칼럼 생성하기
df7['총점']=df7['국어']+df7['수학']

#데이터프레임의 행/칼럼 삭제
#데이터프레임명.drop(인덱스값/칼럼명, axis=0/1, inplace=False/True) --> 인덱스값으로 지정한 레코드/칼럼명으로 지정한 칼럼을 데이터프레임에서 삭제

#데이터프레임의 항목값 일괄 변경
#데이터프레임명.replace(바꿔야하는값, 바꿀값, inplace=False/True)
#데이터프레임명.replace({바꿔야 하는 값1:바꿀 값1, … }, inplace=False/True )
#데이터프레임명.replace({‘칼럼명’: {바꿔야 하는 값1:바꿀 값1, … } }, inplace=False/True )  <--데이터프레임에서 바꿔야 하는 값을 바꿀 값으로 일괄 변경

문제

In [85]:
#1. 데이터를 이용하여 데이터프레임을 생성하세요.
df0=pd.DataFrame({'학생':['John','Alice','Bob','Emily'],
                  '수학':[90,87,78,92],
                  '영어':[85,91,80,88],
                  '과학':[88,89,85,82]})

#2. 생성한 데이터프레임의 요약 통계 정보를 출력하세요.
df0.describe()

#3. 생성한 데이터프레임에서 수학 점수가 가장 높은 학생의 정보를 출력하세요.
mathmax=df0[df0['수학']==df0['수학'].max()]  #???????  수학칼럼에서 수학이 제일높은거를 찾아내라
print(mathmax)

#4. 생성한 데이터프레임에서 수학 점수가 90점 이상인 학생의 정보를 출력하세요.
math90=df0[df0['수학']>=90]
print(math90)

      학생  수학  영어  과학
3  Emily  92  88  82
      학생  수학  영어  과학
0   John  90  85  88
3  Emily  92  88  82

In [104]:
#'BoxOffice.xlsx'파일을 데이터프레임으로 생성하기
df01=pd.read_excel('BoxOffice.xlsx')

#데이터프레임을 생성한 후 데이터프레임의 정보를 출력하시오
df01.info()

#대표국적별 영화 편수를 집계하시오
movies=df01['대표국적'].value_counts()
print(movies)

#대표국적이 영국인 데이터를 출력하시오
engmovie=df01[df01['대표국적']=='영국']
print(engmovie)

#대표국적별 최상위 순위를 출력하시오
group1=df01.groupby('대표국적')['순위'].min()
print(group1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB
대표국적
한국    116
미국     82
일본      1
영국      1
Name: count, dtype: int64
      순위     영화명        개봉일          매출액      관객수  스크린수   상영횟수 대표국적  국적  \
194  195  어바웃 타임 2013-12-05  25312684300  3449451   568  67267   영국  영국

                     배급사
194  유니버설픽쳐스인터내셔널 코리아(유)
대표국적
미국      5
영국    195
일본    172
한국      1
Name: 순위, dtype: int64

In [103]:
#'BoxOffice.xlsx'파일을 데이터프레임으로 생성하기
df01=pd.read_excel('BoxOffice.xlsx')
df01

,순위,영화명,개봉일,매출액,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,1,명량,2014-07-30,135758208810,17615844,1587,188724,한국,한국,(주)씨제이이엔엠
1,2,극한직업,2019-01-23,139655543516,16266338,2003,292816,한국,한국,(주)씨제이이엔엠
2,3,신과함께-죄와 벌,2017-12-20,115727528087,14414658,1912,214631,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
3,4,국제시장,2014-12-17,110945002730,14264059,1044,212698,한국,한국,(주)씨제이이엔엠
4,5,어벤져스: 엔드게임,2019-04-24,122492181020,13977602,2835,246433,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
...,...,...,...,...,...,...,...,...,...,...
195,196,스파이,2013-09-05,24513098305,3436092,785,72805,한국,"한국,태국",(주)씨제이이엔엠
196,197,그것만이 내 세상,2018-01-17,27457704382,3420287,956,95444,한국,한국,(주)씨제이이엔엠
197,198,토이 스토리 4,2019-06-20,28763352540,3400623,1336,85913,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
198,199,돈,2019-03-20,28870244062,3389125,1431,120809,한국,한국,(주)쇼박스
199,200,맨 인 블랙 3,2012-05-24,27301520070,3379762,770,69538,미국,미국,한국소니픽쳐스릴리징브에나비스타영화㈜